* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
}

#configure-container {
  position: fixed;
  left: 15px;
  top: 10vh;
  background-color: lightgrey;
  border: 1px solid #252525;
  height: 40vh;
  width: 11vw;
}

#configure-container label{
  margin-top: 34px;
}

#configure-container label, #configure-container input {
  display: block;
  margin-left: 10px;
}

#lousa-container{
  box-sizing: content-box;
  border-top: 0.1px solid #252525;
  border-left: 0.1px solid #252525;
  display: flex;
  flex-wrap: wrap;
  margin: 10vh auto;
  background-color: #FFF;
}

.pixel {
  border-bottom: 0.1px solid #252525;
  border-right: 0.1px solid #252525;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: lightgrey;
  right: 5px;
  top: 10vh;
  border: 1px solid #252525;
  width: 11vw;
  height: 80vh;
}

.color {
  overflow: hidden;
  user-select: none;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 1px solid #252525;
}

#colorRGB{
  height: 50px;
  width: 100px;
  border: 1px solid #252525;
}
