* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #80CBFB;
}

h1 {
  text-align: center;
  margin-top: 1em;
}

#configure-container {
  position: fixed;
  left: 15px;
  top: 10vh;
  background-color: #FFD9F5;
  border-radius: 10px;
  height: 50vh;
  width: 13vw;
  padding-left: 22px;
}

#configure-container label{
  margin-top: 34px;
}

#configure-container label, #configure-container input {
  display: block;
}
#border-on-off p {
  margin-top: 25px;
}
#configure-container #border-on-off input {
  display: inline;
  margin-top: 5px;
}
#configure-container #border-on-off label {
  display: inline;
}

.buttons{
  display: inline-block;
  background-color: #FFD9F5;
  position: fixed;
  height: 30vh;
  width: 13vw;
  border-radius: 10px;
  left: 2vh;
  bottom: 2vh;
  padding-left: 21px;
  padding-top: 12px;
}

.btn-storage{
  margin-top: 8px;
  display: inline-block;
  height: 5vh;
  width: 10vw;
}

#lousa-container{
  box-sizing: content-box;
  border-top: 0.1px solid #252525;
  border-left: 0.1px solid #252525;
  display: flex;
  flex-wrap: wrap;
  margin: 2vh auto;
  background-color: #FFF;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #FFD9F5;
  border-radius: 10px;
  right: 15px;
  top: 10vh;
  padding: 25px;
  width: 15vw;
  height: 80vh;
}

.color {
  overflow: hidden;
  user-select: none;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  transition: height 200ms;
  transition: width 200ms;
}

.color:hover {
  border: 3px solid #000;
}

#color-palette #colorRGB{
  background-color: #FFD9F5;
  border-radius: 5px;
  border: 0;
}

#color-palette #colorRGB:hover{
  border: 1px solid #000;
}

#colorRGB{
  height: 50px;
  width: 100px;
  border: 1px solid #252525;
}
